
@{
    Layout = null;
    BOCHASContext db = new BOCHASContext();
}
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using BOCHAS.Models;

<!DOCTYPE html>

<html>
<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.1.0-web/fontawesome-free-5.1.0-web/css/all.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/Alertify/alertify.css" rel="stylesheet" />
    <link href="~/lib/Alertify/themes/bootstrap.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/LogoBochas.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/LogoBochas.png">
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>BOCHAS PADEL</title>

    <style>
        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background-color: transparent;
        }

        .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:hover {
            background-color: transparent;
        }
    </style>
</head>
<body class="bodyJugadores" style="background: linear-gradient(135deg, #cc0000 0%,#0a1896 0%,#cccccc 46%,#cccccc 58%,#cc0000 100%);background-repeat:no-repeat;background-size:cover;background-attachment:fixed;min-height:100vh">
    <nav class="navbar " style="background-color:white;box-shadow: -1px 9px 18px -5px rgba(0,0,0,0.72);">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar" style="background-color:black;"></span>
                </button>
                <img src="~/images/LogoBochas.png" width="50" class="img-fluid" />
            </div>
            <div class="collapse navbar-collapse " id="myNavbar" style="padding-bottom:0px;">
                <ul i class="nav navbar-nav " style="font-size:15px;margin-left:2%;">
                    <li class="dropdown">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black;">
                            <i class="fas fa-clipboard-list"></i> Reservas
                        </a>
                        <ul class="dropdown-menu">

                            <li> <a asp-action="NuevaReservaJugador" asp-controller="AlquilerCanchas"><i class="fas fa-plus"></i> &nbsp;Nueva Reserva</a></li>
                            <li><a asp-action="MisReservas" asp-controller="AlquilerCanchas"><i class="fas fa-list"></i>&nbsp;Mis Reservas</a></li>

                        </ul>
                    </li>
                    <li><a href="#" class="text-dark" style="color:black;" data-toggle="modal" data-target="#contactos"><i class="far fa-address-book"></i>  Contactos</a></li>
                    <li> <a href="#" style="color:black;"> <i class="fas fa-envelope"></i>  Mail</a></li>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            var persona = (from p in db.Persona join u in db.Usuario on p.IdUsuario equals u.Id where u.Nombre == User.Identity.Name && p.FechaBaja == null && p.Tipo == "JUGADOR" select p).SingleOrDefault();
                            var jugador = db.Jugador.Where(c => c.IdPersona == persona.Id && c.IdTipoJugador == 1).SingleOrDefault();
                            if (jugador != null)
                            {
                                <li><a asp-action="MostrarClasesParticular" asp-controller="ClaseParticulars" asp-route-IdJugador="@persona.Id" style="color:black;"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Mis Clases</a></li>
                            }
                        }
                    }
                </ul>
                <ul id="PermisosNav" class="nav navbar-nav " style="font-size:15px;"></ul>

                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <li style="background-color:transparent;">
                                @{
                                    var perfil = db.Persona.SingleOrDefault(p => p.IdUsuarioNavigation.Nombre == User.Identity.Name && p.FechaBaja == null);
                                    if (perfil.Imagen == null)
                                    {

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:0px;"> <img src="~/images/usuarioSinfond.png" class="img-circle" alt="Avatar" width="45"><span style="color:black;font-size:15px;"> @User.Identity.Name</span> </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:0px;"> <img src="~/images/perfiles/jugadores/@User.Identity.Name/@perfil.Imagen" class="img-circle" alt="Avatar" width="50" height="50"><span style="color:black;font-size:15px;"> @User.Identity.Name</span> </a>

                                    }
                                    <input id="UsuarioConectado" type="text" value="@User.Identity.Name" style="display:none" />
                                }
                                <ul class="dropdown-menu">
                                    <li><a id="BtnPerfil" href="#"><i class="far fa-user"></i> <span>Mi Perfil</span></a></li>
                                    <li><a asp-action="AgregarImagenPerfilJugador" asp-controller="Personas"><i class="far fa-user-circle"></i> <span>Imagen de perfil</span></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#ModalContraseña"><i class="fas fa-key"></i> <span>Cambiar Contraseña</span></a></li>
                                    <li><a asp-action="Logout" asp-controller="Usuarios"><i class="fas fa-sign-out-alt"></i> <span>Salir</span></a></li>
                                </ul>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top:5%;">
        <div class="container body-content">
            @RenderBody()
        </div>
    </section>
    <div id="ModalContraseña" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header " style="background: linear-gradient(to right, rgba(69,117,214,1) 0%, rgba(55,119,219,1) 2%, rgba(21,123,232,1) 7%, rgba(228,238,240,1) 94%, rgba(228,238,240,1) 100%);">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:white;"><i class="fas fa-key"></i>   Cambiar contraseña</h4>
                </div>
                <div class="modal-body" style="padding-left:40px;">

                    <div class="row">
                        <div class="col-sm-4"><label>Contraseña actual:</label></div><div class="col-sm-6"><input id="PassActual" type="password" class="form-control" style="float:left" /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4"><label>Nueva Contraseña:</label></div><div class="col-sm-6"><input id="PassNuevo" type="password" class="form-control" style="float:left" /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4"><label>Confirmar Contraseña:</label></div><div class="col-sm-6"><input id="PassConfirma" type="password" class="form-control" style="float:left" /></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-sm-11" style="float:right;">
                        <input id="BtnCambiaContra" type="button" class="btn btn-info" value="Aceptar" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="ModalPerfil" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content ">
                <div class="modal-header " style="background: linear-gradient(to right, rgba(69,117,214,1) 0%, rgba(55,119,219,1) 2%, rgba(21,123,232,1) 7%, rgba(228,238,240,1) 94%, rgba(228,238,240,1) 100%);">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title" style="color:white;"><i class="far fa-2x  fa-address-card"></i>&nbsp;&nbsp;Mi Perfil</h2>
                </div>
                <div id="BodyPerfil" class="modal-body" style="font-size:17px;padding-left:18px;">



                </div>
                <div class="modal-footer">
                    <div class="col-sm-11">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div id="contactos" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Contactos</h4>
                </div>
                <div class="modal-body">
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3419.151428931571!2d-64.0650911994263!3d-31.02203039347244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94326222c33d8513%3A0xf58660f7706812c2!2sCalle+Guillermo+Roggio+Sur%2C+Col.+Caroya%2C+C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1536078648084"  height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe></p>
                    <div class="list-group">
                        <a href="#" class="list-group-item active"><i></i>Telefonos</a>
                        <a href="#" class="list-group-item"><i class="fab fa-whatsapp"></i> <img src="~/images/extras/nico.png"/> Nicolas Boscatto: 156487999</a>
                        <a href="#" class="list-group-item"><i class="fab fa-whatsapp"></i> <img src="~/images/extras/mariano.png" /> Mariano Gishigleri: 156487423</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome-free-5.1.0-web/fontawesome-free-5.1.0-web/js/all.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="~/lib/Alertify/alertify.js"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    <script src="~/lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.js"></script>
    <script src="~/js/Usuarios.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/JugadorExterno.js"></script>

    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    @section hub{
        <script src="signalr/hubs"></script>}
    <script>

        var connection = $.hubConnection(), hub = connection.createHubProxy('chat');

        connection.start(function () {

            hub.invoke('join','@User.Identity.Name');

        }).done();

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
