@model IEnumerable<BOCHAS.Models.AlquilerCancha>
@{
    Layout = null;
    BOCHASContext bd = new BOCHASContext();
}
<!DOCTYPE html>

<html style="padding:0px;margin:0px;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte Reservas</title>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding:0px;margin:0px;">

    <img class="img-responsive" src="~/images/LogoBochas.png" width="50" style="float:left;position:absolute;z-index:10000" />
    <label style="float:right;">Fecha: @DateTime.Now.Date.ToString("dd/MM/yyyy")</label>
    <br />
    <h1 style="font-size:50px;padding-left:38%;font-family:'Times New Roman', Times, serif">Bochas Padel</h1>
    <hr />
    <h2 style="padding-left:24%;"><img src="~/images/extras/padel3.png" width="160" />&nbsp;&nbsp;&nbsp;Listado de Reservas</h2>
    <div class="container-fluid">
        <h5>Desde el @TempData["fecD"] Hasta @TempData["fecH"]</h5>

        <table class="table" style="margin:0px;width:100%;">
            <thead style="background-color: rgba(0, 104, 253, 0.8);color:white;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaPedido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaReserva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCancelacion)
                    </th>

                    <th style="width:15%;">
                        Jugador
                    </th>
                    <th>
                        Recibo
                    </th>
                    <th>
                        Estado
                    </th>
                    <th style="text-align:center;">Canchas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @item.FechaPedido.Value.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.FechaReserva.Value.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @{ if (item.FechaCancelacion != null)
                                {
                                    <label>
                                        @item.FechaCancelacion.Value.Date.ToString("dd/MM/yyyy")
                                    </label>
                                }
                                else
                                { <label>-</label> }
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdClienteNavigation.Persona.SingleOrDefault().Nombre) @Html.DisplayFor(modelItem => item.IdClienteNavigation.Persona.SingleOrDefault().Apellido)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.IdCobroNavigation.Numero)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Nombre)
                        </td>
                        <td>
                            <ul class="list-group">
                                @{
                                    foreach (var det in bd.DetalleAlquilerCancha.Where(d => d.IdAlquilerCancha == item.Numero).ToList())
                                    {
                                        <li class="list-group-item">Cancha: @bd.Cancha.Where(c => c.Id == det.IdCancha).Single().Nombre Horario: @det.HoraReservaDesde - @det.HoraReservaHasta </li>
                                    }

                                }

                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>