@model IEnumerable<BOCHAS.Models.RepoJugador>
@{ 
    Layout = null;
}
<!DOCTYPE html>

<html style="padding:0px;margin:0px;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte Jugadores</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding:0px;margin:0px;">

    <img class="img-responsive" src="~/images/LogoBochas.png" width="50" style="float:left;position:absolute;z-index:10000" />
    <label style="float:right;">Fecha: @DateTime.Now.Date.ToString("dd/MM/yyyy")</label>
    <br />
    <h1 style="font-size:50px;padding-left:33%;font-family:'Times New Roman', Times, serif">Bochas Padel</h1>
    <hr />
    <h2 style="padding-left:7%;"><img src="~/images/extras/padel3.png" width="160" />&nbsp;&nbsp;&nbsp;Listado de Jugadores Frecuentes</h2>
    <div class="container-fluid">
        <h5>Desde el @TempData["fecD"] Hasta @TempData["fecH"]</h5>
        <table class="table">
            <thead style="background-color: rgba(0, 104, 253, 0.8);color:white;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        N° Documento:
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>