@model BOCHAS.Models.Agenda

<div class="row">
    <div class="col-sm-12" style="margin:0px;">
        <ul class="list-group" style="margin:0px;">
           

                    <li class="list-group-item">
                       
                        @{ if (Model.IdAlquilerCancha != null)
                            {<label>Jugador: @Html.DisplayFor(model => model.IdAlquilerCanchaNavigation.IdClienteNavigation.Nombre)</label>
                              
                            }
                            if (Model.IdClasesParticulares != null)
                            {
                        <label>Alumno: @Model.IdClasesParticularesNavigation.IdJugadorNavigation.Nombre @Model.IdClasesParticularesNavigation.IdJugadorNavigation.Apellido </label>  
                            }
                        }

                    </li>
            <li class="list-group-item">
                Cancha:
                @Html.DisplayFor(model => model.IdCanchaNavigation.Nombre), @Html.DisplayFor(model => model.IdCanchaNavigation.Descripcion)
            </li>

            <li class="list-group-item">
                Fecha:
                @Html.DisplayFor(model => model.Fecha.Day)/@Html.DisplayFor(model => model.Fecha.Month)/@Html.DisplayFor(model => model.Fecha.Year)
            </li>
            <li class="list-group-item">
                Hora Desde:
                @Html.DisplayFor(model => model.HoraDesde)
            </li>
            <li class="list-group-item">
                Hora Hasta:
                @Html.DisplayFor(model => model.HoraHasta)
            </li>
        </ul>



    </div>
          
   
        
    
</div>

