@model IEnumerable<BOCHAS.Models.AlquilerCancha>

@{
    ViewData["Title"] = "ConsultarReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="panel panel-primary" style="padding:0px;margin:0px;">
    <div class="panel-heading" style="padding-bottom:0px;margin:0px;">
        <h3 style="padding:0px;margin:0px;margin-bottom:4px;"><i class="fas fa-clipboard-list"></i> Alquiler de Cancha</h3>

    </div>
    <div class="panel-body">
        <div class="row">
            <ul class="nav nav-tabs ">
                <li role="presentation"><a asp-action="NuevaReserva" asp-controller="AlquilerCanchas">Nueva Reserva</a></li>
                <li role="presentation" class="active"><a id="ConsultaReserva" asp-action="ConsultarReservas" asp-controller="AlquilerCanchas">Consulta de Reservas</a></li>
                <li role="presentation"><a asp-action="ConsultarBajas" asp-controller="Personas">Consulta Bajas</a></li>
            </ul>
        </div>

        <hr />
        <img id="ImgLoad" src="~/images/extras/dots-2.gif" alt="" width="200" />
        <table id="TablaReservasCons" class="table table-striped" style="display:none;width:100%;">
            <thead style="background-color: rgba(158, 44, 44, 0.9);color:white;">
                <tr>
                    <th>Numero Reserva</th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaReserva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaPedido)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FechaCancelacion)
                    </th>
                    <th>
                        Jugador
                    </th>
                    <th>
                        Responsable
                    </th>
                    <th>
                        Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaReserva)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaPedido)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCancelacion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdClienteNavigation.Persona.Where(p => p.IdUsuario == item.IdClienteNavigation.Id).SingleOrDefault().Nombre),@Html.DisplayFor(modelItem => item.IdClienteNavigation.Persona.Where(p => p.IdUsuario == item.IdClienteNavigation.Id).SingleOrDefault().Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Persona.Where(p => p.IdUsuario == item.IdEmpleadoNavigation.Id).SingleOrDefault().Nombre),@Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Persona.Where(p => p.IdUsuario == item.IdEmpleadoNavigation.Id).SingleOrDefault().Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Nombre)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info btn-sm" onclick="VerDetalleReserva(@item.Numero)">Ver Detalle</button>
                                @{
                                    switch (item.IdEstado)
                                    {
                                        case 1: <a  class="btn btn-success btn-sm confirm" asp-action="ConfirmarReserva" asp-controller="AlquilerCanchas" asp-route-Nreserva="@item.Numero">Confirmar</a>
                                            <button class="btn btn-danger btn-sm"><a asp-action="Edit" asp-route-id="@item.Numero" style="color:white">Cancelar</a></button>
                                            break;
                                        case 2:
                                            <button class="btn btn-default btn-sm"><a asp-action="Edit" asp-route-id="@item.Numero" style="color:black">Comenzar</a></button>
                                            <button class="btn btn-danger btn-sm"><a asp-action="Edit" asp-route-id="@item.Numero" style="color:white">Cancelar</a></button>
                                            break;
                                        case 3: <button class="btn btn-warning btn-sm"><a asp-action="Edit" asp-route-id="@item.Numero" style="color:white">Finalizar</a></button>
                                            break;
                                        case 4:
                                            break;
                                        case 5:
                                            break;
                                    }
                                        }





                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @{ if (TempData["Respuesta"] != null)
            {

                <input id="Respuesta" value="@TempData["Respuesta"]" style="display:none" />
            }
        }

        <p>Nota: Solo se visualizan los alquileres con fecha de reserva desde la fecha actual para adelante, caso contrario use la busqueda particular..</p>
    </div>
</div>
<div id="ModalDetalleReserva" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Detalle de la Reserva</h4>
            </div>
            <div id="DetalleReservaBody" class="modal-body" style="padding-left:0px;padding-right:0px;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
@section Scripts{ 
<script src="~/js/AlquilerDeCanchas.js"></script>
}