@model IEnumerable<BOCHAS.Models.AlquilerCancha>

@{
    ViewData["Title"] = "ConsultarReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="panel panel-primary" style="padding:0px;margin:0px;">
    <div class="panel-heading" style="padding-bottom:0px;margin:0px;">
        <h3 style="padding:0px;margin:0px;margin-bottom:4px;"><i class="fas fa-clipboard-list"></i> Alquiler de Cancha</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <ul class="nav nav-tabs ">
                <li role="presentation"><a asp-action="NuevaReserva" asp-controller="AlquilerCanchas">Nueva Reserva</a></li>
                <li role="presentation" class="active"><a id="ConsultaReserva" asp-action="ConsultarReservas" asp-controller="AlquilerCanchas">Consulta de Reservas</a></li>
                <li role="presentation"><a asp-action="Index" asp-controller="AlquilerCanchas">Consulta Particular</a></li>
            </ul>
        </div>
        
        <hr />
        <img id="ImgLoad" src="~/images/extras/dots-2.gif" alt="" width="200" />
        <table id="TablaReservasCons" class="table table-striped" style="display:none;width:100%;margin-left:0px;margin-right:0px;text-align:center;">
            <thead style="background-color: rgba(158, 44, 44, 0.9);color:white;">
                <tr>
                    <th  style="text-align:center;">Número Reserva</th>
                    <th  style="text-align:center;">
                       Fecha Reserva
                    </th>
                    <th  style="text-align:center;">
                       Fecha Pedido
                    </th>

                    
                    <th  style="text-align:center;">
                        Jugador
                    </th>
                    <th  style="text-align:center;">
                        Responsable
                    </th>
                    <th  style="text-align:center;">
                        Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(x=>x.FechaReserva))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                        <td>
                            @item.FechaReserva.Value.Date.ToString("dd/MM/yyyy")

                        </td>
                        <td>
                            @item.FechaPedido.Value.Date.ToString("dd/MM/yyyy")
                        </td>

                       

                        <td>
                            @Html.DisplayFor(modelItem => item.IdClienteNavigation.Persona.Where(p => p.IdUsuario == item.IdClienteNavigation.Id).SingleOrDefault().Nombre),@Html.DisplayFor(modelItem => item.IdClienteNavigation.Persona.Where(p => p.IdUsuario == item.IdClienteNavigation.Id).SingleOrDefault().Apellido)
                        </td>
                        <td>
                            @{
                                if (item.IdEmpleado != null)
                                {
                                    var em = item.IdEmpleadoNavigation.Persona.Where(p => p.IdUsuario == item.IdEmpleadoNavigation.Id).SingleOrDefault().Nombre + " " + item.IdEmpleadoNavigation.Persona.Where(p => p.IdUsuario == item.IdEmpleadoNavigation.Id).SingleOrDefault().Apellido;
                                    <label>@em</label>
                                }
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Nombre)
                        </td>
                        <td style="width:300px;">
                            <div class="btn-group form-group" style="padding:0px;margin:0px;">
                                <button class="btn btn-info btn-sm" onclick="VerDetalleReserva(@item.Numero)" data-toggle="tooltip" title="Ver Detalle"><i class="fas fa-info-circle"></i></button>
                                @{
                                    switch (item.IdEstado)
                                    {
                                        case 1: <a class="btn btn-success btn-sm confirm" asp-action="ConfirmarReserva" asp-controller="AlquilerCanchas" asp-route-Nreserva="@item.Numero" data-toggle="tooltip" title="Confirmar"><i class="fas fa-check"></i></a>
                                            <a class="btn btn-danger btn-sm BtnCancelaR" asp-action="CancelarReserva" asp-controller="AlquilerCanchas" asp-route-Nreserva="@item.Numero" style="color:white" data-toggle="tooltip" title="Cancelar"><i class="fas fa-ban"></i></a>
                                            break;
                                        case 2:
                                            <a class="btn btn-default btn-sm" asp-action="ComenzarReserva" asp-controller="AlquilerCanchas" asp-route-Nreserva="@item.Numero" style="color:black" data-toggle="tooltip" title="Comenzar"><i class="fas fa-play"></i></a>
                                            <a class="btn btn-danger btn-sm BtnCancelaR" asp-action="CancelarReserva" asp-controller="AlquilerCanchas" asp-route-Nreserva="@item.Numero" style="color:white" data-toggle="tooltip" title="Cancelar"><i class="fas fa-ban"></i></a>
                                            break;
                                        case 3: <a class="btn btn-success btn-sm" asp-action="FinalizarReserva" asp-controller="AlquilerCanchas" asp-route-Nreserva="@item.Numero" style="color:white" data-toggle="tooltip" title="Finalizar"><i class="fas fa-stopwatch"></i></a>
                                            break;
                                        case 4:
                                            break;
                                        case 5:
                                            break;
                                    }
                                }
                                <a class="btn btn-primary btn-sm " data-toggle="tooltip" title="Reporte Reserva" onclick="generaRepo(@item.Numero)"><i class="fas fa-clipboard-list"></i></a>

                            </div>
                        </td>
                    </tr>
                                    }
            </tbody>
        </table>

    </div>

    <div class="panel-footer">

        @{ if (TempData["Respuesta"] != null)
            {

                <input id="Respuesta" value="@TempData["Respuesta"]" style="display:none" />
                <input id="NReservaFinalizada" value="@TempData["NReservaFinalizada"]" style="display:none" />
            }
        }

        <p>Nota: Solo se visualizan los alquileres con fecha de reserva desde la fecha actual para adelante y que no esten cancelados, caso contrario use la consulta particular..</p>

    </div>
</div>
<div id="ModalDetalleReserva" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Detalle de la Reserva</h4>
              
            </div>
            <div id="DetalleReservaBody" class="modal-body">
               
            </div>
            <div class="modal-footer">
              
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
<div id="ModalMail" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3><i class="fas fa-envelope"></i> Mail de Cancelacion</h3>
            </div>
            <div class="modal-body">
                <p>Enviando mail de cancelacion de reserva</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="ModalPdf" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body mb">
                <div id="GeneraPDF">
                    <p>Generando PDF</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                    </div>
                </div>
                <object type="application/pdf" id="VisorPDF" src="" style="width:100%; height:100%;display:none;background-color:#515151;"></object>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>

<div id="ModalCobro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;"><i class="far fa-credit-card"></i>  Cobro Alquiler de Cancha</h4>
            </div>
            <div class="modal-body mb">


            </div>
        </div>
    </div>

</div>
<div id="ModalServicioA" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body SA" style="padding-bottom:0px;">



                </div>
                <div class="modal-footer">
                    <input  type="button" class="btn btn-success" value="Aceptar" onclick="RegistrarServiciosConsumidos()">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
            </div>
    

</div>

@section Scripts{
    <script src="~/js/AlquilerDeCanchas.js"></script>
    

}