@model IEnumerable<BOCHAS.Models.Cobro>

@{

    Layout = null;
    BOCHASContext bd = new BOCHASContext();
}

<table id="TablaCobros" class="table" style="width:100%;">
    <thead style="background-color: rgba(158, 44, 44, 0.9);color:white;">
        <tr>
            <th>
                Número
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Monto Total
            </th>
            <th>
                Medio de Pago
            </th>
            <th>
                Cupón
            </th>

            <th>
                Tarjeta
            </th>
            <th>
                Responsable
            </th>
           
            <th style="text-align:center;width:30%;">Detalle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @item.Fecha.Date.ToString("dd/MM/yyyy")
                </td>


                <td>
                    $@Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMedioPagoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroCupon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTarjetaNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bd.Persona.Where(p => p.IdUsuario == item.IdUsuarioNavigation.Id).SingleOrDefault().Nombre) @Html.DisplayFor(modelItem => bd.Persona.Where(p => p.IdUsuario == item.IdUsuarioNavigation.Id).SingleOrDefault().Apellido)
                </td>
                <td style="width:30%;">
                    <button class="btn btn-sm btn-default form-control" style="width:100%;" data-toggle="collapse" data-target="#@item.Numero">
                        Abrir
                    </button>
                    <div id="@item.Numero" class="collapse " style="padding:0px;margin:0px;">
                        <ul class="list-group">
                            @{foreach (var dt in item.DetalleCobro)
                                {

                                    if (dt.IdServicio != null)
                                    {
                            <li class="list-group-item">
                                @Html.DisplayFor(modelItem => bd.Servicio.Where(s => s.Id == dt.IdServicio).SingleOrDefault().Nombre) N°: @dt.IdNumeroServicioAlquiler @dt.IdNumeroServicioClases  Cantidad:@Html.DisplayFor(modelItem => dt.Cantidad) Monto: $@Html.DisplayFor(modelItem => dt.Monto)
                            </li>
                                    }


                                }
                                foreach (var i in item.DetalleCobro.Where(d => d.IdServiciosAdicionales != null).GroupBy(d => d.IdServiciosAdicionales).Select(o => new { id = o.Key, cantidad = o.Sum(e => e.Cantidad), total = o.Sum(e => e.Monto) }).ToList())
                                {
                                    <li class="list-group-item">
                                        @Html.DisplayFor(modelItem => bd.ServiciosAdicionales.Where(s => s.Id == i.id).SingleOrDefault().Nombre)  Cantidad:@Html.DisplayFor(modelItem => i.cantidad) Monto: $@Html.DisplayFor(modelItem => i.total)
                                    </li>
                                }

                                <li class="list-group-item">
                                    @{
                                        if (item.DetalleCobro.ToList()[0].IdServicio == 1)
                                        {
                                            <button class="btn btn-sm btn-primary" style="width:100%;" onclick="ReporteCobroReserva(@item.Numero)" data-toggle="tooltip" title="Reporte Cobro"><i class="fas fa-money-check-alt"></i></button>

                                        }
                                        if (item.DetalleCobro.ToList()[0].IdServicio == 2)
                                        {
                                            <button class="btn btn-sm btn-primary" style="width:100%;" onclick="ReporteCobroClase(@item.Numero)" data-toggle="tooltip" title="Reporte Cobro"><i class="fas fa-money-check-alt"></i></button>
                                        }
                                    }

                                </li>
                            }
                        </ul>
                            </div>

                            </td>
                            </tr>

                        }
    </tbody>
</table>
<script src="~/js/AlquilerDeCanchas.js"></script>
<script src="~/js/ClasesParticulares.js"></script>