@model IEnumerable<BOCHAS.Models.Cancha>

@{
    ViewData["Title"] = "Index";
}
<style>
    .ocultar {
        display:none;
    }
    
</style>
<div class="panel panel-primary ">
    <div class="panel-heading">
        <h3 style="padding:0px;margin:0px;"><i class="fab fa-codepen"></i>  Administración de canchas</h3>
        

    </div>
    <div class="panel-body">

        <div class="row">
            <ul class="nav nav-tabs ">
                <li role="presentation"> <a asp-action="NuevaCancha">Nueva Cancha</a></li>
                <li role="presentation" class="active"><a asp-action="Index">Consulta</a></li>

            </ul>
            <br />

        </div>
        
        <div class="row" style="height:100%;"><img id="ImgLoad"  src="~/images/extras/dots-2.gif" width="200" /></div>
        <table id="TablaCanchas" class="table display ocultar" >
            <thead style="background-color: rgba(158, 44, 44, 0.9);color:white;">
                <tr>
                    <th>
                        Número
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Tipo de Cancha
                    </th>
                    <th style="width:100px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @{ if (item.IdEstadoCanchaNavigation.Id == 2)
                                {
                                    <i class="far  fa-thumbs-up" style="color:forestgreen;"></i>
                                }
                                if (item.IdEstadoCanchaNavigation.Id == 1)
                                {

                                    <i class="fas  fa-table-tennis" style="color:orangered;"></i>
                                }
                                if (item.IdEstadoCanchaNavigation.Id == 1002)
                                {
                                    <i class="fas  fa-screwdriver"></i>

                                }
                            }
                            @Html.DisplayFor(modelItem => item.IdEstadoCanchaNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdTipoMaterialNavigation.Nombre)
                        </td>
                        <td class="btn-group">
                            <a  class="btn btn-sm btn-primary" onclick="EditarCancha(@item.Id)" ><i class="fas fa-pencil-alt"></i></a> 
                           
                            <a  class="btn btn-sm btn-danger" onclick="BajadeCancha(@item.Id,@item.IdEstadoCanchaNavigation.Id)"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>

<div id="ModalEditarCancha" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));color:white;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fas fa-pencil-alt"></i>  Editar Cancha</h4>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/js/Canchas.js"></script>

}
