@model IEnumerable<BOCHAS.Models.ServiciosAdicionales>

<p>Numero de Alquiler: <label id="LNReserva"></label> </p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>N°</th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th style="width:20%;">
                Cantidad
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td class="Cantidad">
                    <input  type="number" class="form-control CantS" name="Cantidad" />
                </td>

            </tr>
        }
    </tbody>
</table>


