@model BOCHAS.Models.ClaseParticular
<ul class="list-group" style="font-size:16px;">
    <li class="list-group-item"> N° Cancha: @Html.DisplayFor(model => model.IdCanchaNavigation.Numero), Nombre: @Html.DisplayFor(model => model.IdCanchaNavigation.Nombre)</li>
    <li class="list-group-item">
        Fecha de Realización:  @{ if (Model.FechaRealRealizacion == null)
            { <label>-</label> }
            else
            { @Model.FechaRealRealizacion.Value.Date.ToString("dd/MM/yyyy") } }
    </li>
    <li class="list-group-item">
        Hora de Inicio:    @{ if (Model.FechaRealRealizacion == null)
            { <label>-</label> }
            else
            { @Html.DisplayFor(model => model.HoraInicioReal) } }
    </li>
    <li class="list-group-item">
        Hora de Finalización:   @{ if (Model.HoraFinReal == null)
            { <label>-</label> }
            else
            { @Html.DisplayFor(model => model.HoraFinReal) } }
    </li>
    <li class="list-group-item">
        Fecha cancelación:  @{ if (Model.FechaCancelacion == null)
            { <label>-</label> }
            else
            { @Model.FechaCancelacion.Value.Date.ToString("dd/MM/yyyy") } }
    </li>
    <li class="list-group-item">Observacion:  @Html.DisplayFor(model => model.Observacion)</li>
</ul>



